@import 'variables.scss';

.game-header {
  .MuiPaper-root {
    background-color: $incorrect-guess !important;
  }
  vertical-align: center;
}

h2 {
  margin-top: .25rem;
  margin-bottom: 0;
}
p {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}


.guess-stack {
  padding-top: .5rem;
  justify-content: center;
}

.game-tile {
  width: 3rem;
  height: 3.5rem;
  text-align: center;
  &.example-guess {
    text-align: center;
    width: 2rem;
    height: 2.33rem;
    transform: translateX(-2rem);

    .game-tile-text {
      font-size: 1.33rem;
    }
  }

  &.state-0 {
    background-color: $not-guessed;
  }
  &.state-1 {
    background-color:  $secondary
  }
  &.state-2 {
    background-color: $success
  }
  &.state-3 {
    background-color: $incorrect-guess;
  }
  &.state-4 {
    background-color: $bomb-color;
  }
  .game-tile-text {
    font-size: 2rem;
    color: white;
  }
}

.keyboard-grid {
  padding-top: 3rem;
  display: block;
  .keyboard-stack {
    justify-content: center;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    MuiSvgIcon-root {
      color: white;
    }

    .MuiButton-root {
      height: 3rem;
      min-width: 35px;
      font-size: 1.5rem;
    }
    .state-0 {
      background-color : $not-guessed;
    }
    .state-1 {
      background-color: $secondary;
    }
    .state-2 {
      background-color: $success;
    }
    .state-3 {
      background-color: $incorrect-guess;
    }
  }
}

.MuiSnackbar-root {
    &.success {
      padding-top: calc(20vh) !important;
      .MuiSnackbarContent-root {
        background-color:rgba($success, .95)
      }
    }
    &.failure {
      padding-top: calc(30vh) !important;
    }
}

.MuiSnackbarContent-message {
  font-weight: 700;
}

//Dialog Component

.MuiDialogTitle-root {
  text-align: center;
  background-color: $container-background;
}

.MuiDialogContent-root {
  background-color: $container-background;
}

.MuiTableCell-root {
  min-width: 45px;
  padding-left: .5rem !important;
  padding-right: .5rem !important;
  padding-bottom: .25rem !important;
  padding-top: .25rem !important;
  text-align: center !important;
}

//StatsComponent
h4 {
  text-align: center;
  margin-bottom: 0;
  margin-top: .5rem;
}

.MuiTableContainer-root {
  overflow-x: hidden !important;
}

.bar-chart-rectangle {
  margin-top: .5rem;
  height: 1.5rem;
  background-color: $incorrect-guess;
}

.bar-chart-outer-label {
  color: $text-color;
  text-align: left;
  transform: translateX(-15px);
  font-weight: bold;
}

.bar-chart-inner-value {
  color: $container-background;
  text-align: right;
  padding-right: .25rem;
  transform: translateY(-100%)
}


.share-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  text-align: center;

  .churdle-timer {
  }

  .share-button {
    background-color: $success !important;

  }
}

//HELP DIALOG
.help-content {
  font-size: small;
}