@import 'variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  /*-moz-osx-font-smoothing: grayscale;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-field-text {
  font-size: 2rem;
  color: white;
}

.guess-stack {
  padding-top: .5rem;
  justify-content: center;
  &.invalid-word {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}

.guess-paper {
  width: 3rem;
  height: 3.5rem;
  &.state-0 {
    background-color: $not-guessed
  }
  &.state-1 {
    background-color:  $secondary
  }
  &.state-2 {
    background-color: $success
  }
  &.state-3 {
    background-color: $incorrect-guess;
  }
}

.keyboard-grid {
  padding-top: .5rem;
  .keyboard-stack {
    justify-content: center;
    padding-bottom: .5rem;
    MuiSvgIcon-root {
      color: white;
    }

    .MuiButton-root {
      height: 2rem;
      min-width: 35px;
      font-size: 1.5rem;
    }
    .state-0 {
      background-color : $not-guessed;
    }
    .state-1 {
      background-color: $secondary;
    }
    .state-2 {
      background-color: $success;
    }
    .state-3 {
      background-color: $incorrect-guess;
    }
  }
}

.MuiPaper-root {
  justify-content: center;

}

h1 {
  margin-bottom: .25rem;
}
h3 {
  margin-top: 0;
}

.MuiSnackbarContent-root {
  margin-right:  0 !important;
  margin-left:   0 !important;
  background-color: $success;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
