$primary: #C0C0C0;
$secondary:  #FFB432;


$background-color: #1B1B1B;

$container-background: #F5F5F5;

$not-guessed: #C0C0C0;
$incorrect-guess: #3F3F3F;
$success: #93D976;


$text-color: #3F3F3F